.jumbotron {
	width: 100%;
	height: 100%;
	margin-top: 50px;
	animation: pulse 10s infinite;
  }
  
  @keyframes pulse {
	0%   {background: #4776e6}
	33%  {background: #ab79fa}
	66%  {background: #eabeff}
	100% {background: #4776e6}

}

footer {
	padding: 10px 10px 0 10px;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-top: 50px;
	animation: pulse 10s infinite;
}
@keyframes pulse {
	0%   {background: #4776e6}
	33%  {background: #ab79fa}
	66%  {background: #eabeff}
	100% {background: #4776e6}
	
	
}

.card-product {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-producto {
	width: 100%;
	border-radius: 0px;
	border-color: white;
	background: #f2709c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ff9472,
		#f2709c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ff9472,
		#f2709c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-adress-icon {
	padding-right: 10px;
}

.social-icon {
	padding-right: 10px;
}

.anchor {
	color: black;
}
.tab-content {
	padding-top: 10px;
}
